.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: white;
}

.glyphicon-remove {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    color: red;
}

.deleted {
    color: red;
    text-decoration: line-through;
}